.detailedForecast {
  &__container {
    width: 50%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-rows: 7.5% 25% 7.5% 25% 7.5% 15% 7.5%;
  }
  &__info {
    &_container {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_precipitation {
      display: flex;
      justify-content: space-between;

      &_title {
        color: white;
        font-size: 2rem;
        font-weight: 600;
      }
      &_value {
        color: white;
        font-size: 2rem;
        font-weight: 300;
      }
    }

    &_humidity {
      display: flex;
      justify-content: space-between;
      &_title {
        color: white;
        font-size: 2rem;
        font-weight: 600;
      }
      &_value {
        color: white;
        font-size: 2rem;
        font-weight: 300;
      }
    }

    &_wind {
      display: flex;
      justify-content: space-between;
      &_title {
        color: white;
        font-size: 2rem;
        font-weight: 600;
      }
      &_value {
        color: white;
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
  &__weekly {
    &_container {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }
    &_list {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 2rem;
      font-weight: 300;
      color: white;
      display: flex;
      justify-content: space-around;
      box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
      border-radius: 1rem;

      &_item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        transition: 200ms ease;

        &:hover {
          transform: scale(1.1);
          background: #fff;
          color: #222831;
          box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
        }
        &_day {
          font-weight: 200;
        }
        &_temp {
          font-weight: 500;
        }

        &_active {
          // background: #fff;
          // color: #222831;
          // border-radius: 10px;
        }
      }
    }
  }

  &__location {
    &_container {
      grid-column: 2 / 3;
      grid-row: 6 / 7;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    &_button {
      outline: none;
      width: 100%;
      border: none;
      border-radius: 2.5rem;
      padding: 1rem;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      font-size: 1.8rem;
      font-weight: 700;
      box-shadow: 0 0 30px -5px rgba(0, 0, 0, 0.25);
      background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
      cursor: pointer;
      transition: transform 200ms ease;

      display: flex;
      justify-content: center;
      align-items: baseline;

      &:hover {
        transform: scale(0.95);
      }

      &_icon {
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 0.5rem;
      }
    }
  }
}
