.detailedForecast {
  &__container {
    width: 50%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    display: grid;
    grid-template-columns: 7.5% 85% 7.5%;
    grid-template-rows: 7.5% 25% 7.5% 25% 7.5% 15% 7.5%;
  }
  &__info {
    &_container {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &_precipitation {
      display: flex;
      justify-content: space-between;

      &_title {
        color: white;
        font-size: 2rem;
        font-weight: 600;
      }
      &_value {
        color: white;
        font-size: 2rem;
        font-weight: 300;
      }
    }

    &_humidity {
      display: flex;
      justify-content: space-between;
      &_title {
        color: white;
        font-size: 2rem;
        font-weight: 600;
      }
      &_value {
        color: white;
        font-size: 2rem;
        font-weight: 300;
      }
    }

    &_wind {
      display: flex;
      justify-content: space-between;
      &_title {
        color: white;
        font-size: 2rem;
        font-weight: 600;
      }
      &_value {
        color: white;
        font-size: 2rem;
        font-weight: 300;
      }
    }
  }
  &__weekly {
    &_container {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
    }
    &_list {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 2rem;
      font-weight: 300;
      color: white;
      display: flex;
      justify-content: space-around;
      box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.25);
      border-radius: 1rem;

      &_item {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        border-radius: 10px;
        transition: 200ms ease;

        &:hover {
          transform: scale(1.1);
          background: #fff;
          color: #222831;
          box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
        }
        &_day {
        }
        &_temp {
          font-weight: 500;
        }
      }
    }
  }

  &__location_container {
    background-color: orangered;
    grid-column: 2 / 3;
    grid-row: 6 / 7;
  }
}
